---
layout: base
---
<main class="main" role="main">
    {% if page.thumb %}
        <figure class="article__figure">
          <img class="noshadow" src="{{ '/assets/images/' | prepend: site.url | append: page.thumb }}">
        </figure>
    {% endif %}

    <article class="article">
        <h1 class="article__title">{{ page.title }}</h1>
        <p class="article__date">
            <time datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </p>
        {{ content }}
    </article>

    {% if page.author %}
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        <div class="author">
            <div class="author__inner">
                <figure class="author__avatar nocenter">
                    {% if author.avatar %}
                        <img src="{{ '/assets/images/avatars/' | prepend: site.url | append: author.avatar }}">
                    {% else %}
                        <img src="{{ '/assets/images/avatars/empty-avatar.png' | prepend: site.url}}">
                    {% endif %}
                </figure>
                <div class="author__info">
                    <p>
                        <em>{{ page.date | date: "%B %d, %Y" }} – written by <strong>{{ author.name }}</strong></em>.
                    </p>
                    <p>
                        {{ author.content | markdownify}}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="comments" id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tio-blog';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</main>
